.link {
  position: relative;
  cursor: pointer;
}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.4px;
  border-radius: 1px;
  background-color: var(--bgCursor);
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  cursor: pointer;
}

.correct {
  color: var(--textCorrectColor) !important;
}

.incorrect {
  color: var(--textIncorrectColor) !important;
  color: #c3c3c3;
}
