@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #1a1a1a;
  --textPrimary: #fff;
  --textSecondary: #666;
  --bgCursor: white;
  --textCorrectColor: white;
  --textIncorrectColor: #ff0000;
  --bgButton: white;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  transition: background-color 0.5s ease-in-out;
}
